<div class="container">
  <h2>Secretaria</h2>
  <hr>
  <!--tabla citas-->
</div>
<div class="container">
  <ul class="list-group">
    <li *ngFor="let doctor of doctores | async" class="list-group-item" (click)="set_current_doctor(doctor.uid)">
      <h3>Doctor: {{doctor.name}}</h3>
      <br>
      <h4>Citas agendadas</h4>
      <br>

      <table class="table table-hover">
        <tbody>
          <tr data-toggle="modal">
            <ul class="list-group">
              <li *ngFor="let cita of getd_citas(doctor.uid) | async" class="list-group-item" (click)="set_current_cita(doctor.uid, cita, cita.$key)">
                e-Mail: {{cita.nombre}}
                <br> Hora: {{cita.hora}}
                <br> Fecha: {{cita.fecha}}
                <br>
                <td>
                  <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#modalReagendarCita">Reagendar Cita</button>
                  <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#modalCancelarCita">Cancelar cita</button>
                </td>


              </li>
            </ul>
          </tr>
        </tbody>
        <hr>
        <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#modalCrearCita">Agendar cita</button>
      </table>
    </li>
  </ul>


  <div class="text-center">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalCrearPaciente">Registrar paciente</button>
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalCrearDoctor">Registrar doctor</button>
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalCrearSecretaria">Registrar secretaria</button>
    <br>
    <br>
  </div>

  <!-- Crear cita-->
  <div class="modal fade" id="modalCrearCita" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h1 class="modal-title">Agendar cita</h1>
        </div>
        <div class="modal-body">
          <form class="form-signin" id="myform" (submit)="crear_cita($event, nombre.value, fecha.value, hora.value,diagnostico.value,receta.value,comentarios.value)">
            <input #nombre type="text" class="form-control" placeholder="e-Mail del Paciente" required="">
            <br>
            <input #fecha type="text" class="form-control" placeholder="Fecha (DD/MM/AAAA)" required="">
            <br>
            <input #hora type="text" class="form-control" placeholder="Hora (HH:MM)" required="">
            <br>
            <label for="name">Diagnostico</label>
            <textarea #diagnostico type="text" class="form-control" required=""></textarea>
            <br>
            <label for="name">Receta</label>
            <textarea #receta type="text" class="form-control" required=""></textarea>
            <br>
            <label for="name">Comentarios adicionales</label>
            <textarea #comentarios type="text" class="form-control" required=""></textarea>
            <br>
            <button class="btn btn-md btn-primary btn-block" type="submit" data-toggle="modal" data-target="#modalCrearCita">Agendar</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- Reagendar cita-->
  <div class="modal fade" id="modalReagendarCita" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h1 class="modal-title">Reagendar Cita</h1>
        </div>
        <div class="modal-body">
          <form class="form-signin" id="myform2" (submit)="actualizar_cita($event, fecha2.value, hora2.value)">
            <input #fecha2 type="text" class="form-control" placeholder="Fecha (DD/MM/AAAA)" required="" value="{{cita.fecha}}">
            <br>
            <input #hora2 type="text" class="form-control" placeholder="Hora (HH:MM)" required="" value="{{cita.hora}}">
            <br>
            <br>
            <button class="btn btn-md btn-primary btn-block" type="submit" data-toggle="modal" data-target="#modalReagendarCita">Actualizar</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- Cancelar Cita-->
  <div class="modal fade" id="modalCancelarCita" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h1 class="modal-title">Cancelar Cita</h1>
        </div>
        <div class="modal-body">


          <form class="form-signin" (submit)="cancelar_cita($event)">
            <button class="btn btn-md btn-primary btn-block" type="submit" data-toggle="modal" data-target="#modalCancelarCita">Cancelar</button>
          </form>
        </div>
      </div>
    </div>

  </div>


  <!-- Registrar paciente-->
  <div class="modal fade" id="modalCrearPaciente" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Registrar paciente</h1>
        </div>
        <div class="modal-body">
          <form class="form-signin" (submit)="register_paciente($event, name.value, email.value, password.value, utype.value)">
            <input #name type="text" id="name" class="form-control" placeholder="Name" required="">
            <br>
            <input #email type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <br>
            <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <br>
            <select #utype type="utype" id="utype" class="form-control" required="">
              <option value="paciente">Paciente</option>
            </select>
            <br>
            <button class="btn btn-md btn-primary btn-block" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- Registrar Doctor-->
  <div class="modal fade" id="modalCrearDoctor" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h1 class="modal-title">Registrar Doctor</h1>
        </div>
        <div class="modal-body">
          <form class="form-signin" (submit)="register_doctor($event, name2.value, email2.value, password2.value, utype2.value)">
            <input #name2 type="text" id="name" class="form-control" placeholder="Name" required="">
            <br>
            <input #email2 type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <br>
            <input #password2 type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <br>
            <select #utype2 type="utype" id="utype" class="form-control" required="">
              <option value="home">Doctor</option>
            </select>
            <br>
            <button class="btn btn-md btn-primary btn-block" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>

  </div>


  <!-- Registrar Secretaria-->
  <div class="modal fade" id="modalCrearSecretaria" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Registrar Secretaria</h1>
        </div>
        <div class="modal-body">
          <form class="form-signin" (submit)="register_secretaria($event, name3.value, email3.value, password3.value, utype3.value)">
            <input #name3 type="text" id="name" class="form-control" placeholder="Name" required="">
            <br>
            <input #email3 type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <br>
            <input #password3 type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <br>
            <select #utype3 type="utype" id="utype" class="form-control" required="">
              <option value="secretaria">Secretaria</option>
            </select>
            <br>
            <button class="btn btn-md btn-primary btn-block" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>